@import './fonts.less';
@import "./responsive.less";
@import './variables.less';
html{
  /*
  root font size of 10px makes rem easy to follow
   */
  font-size: 10px;
  body{
    margin: 0;
  }
  a{
    text-decoration: none;
  }
}
